
:root {
	/* responsive margins / paddings */
	--margin-sm: 16px;
	--margin-md: 32px;
}

html {
	height: 100%;
	font-size: 16px;
}



/* text utility classes */

.text1 {
	font-size: 15.88px;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 1.613;
	letter-spacing: 0px;
}

.text2 {
	font-size: 13.78px;
	font-family: 'Inter';
	font-weight: 400;
	line-height: 1.829;
	letter-spacing: 0px;
}

.subtitle2 {
	font-size: 37.66px;
	font-family: 'Inter';
	font-weight: 500;
	line-height: 1.275;
}

.link1 {
	font-size: 15.75px;
	text-decoration: underline;
	line-height: 1.625;
}

.subtitle3 {
	font-size: 37.81px;
	font-weight: 500;
	line-height: 1.269;
}

.subtitle1 {
	font-size: 22.88px;
	font-weight: 500;
	line-height: 1.049;
}

.link2 {
	font-size: 16px;
	text-decoration: underline;
	line-height: 1.6;
}

.sub-text-black {
	color: #0e0e0e;
}

.sub-text-dark {
	color: #1e1e1e;
}



/* section utility classes */

.section-white {
	display: flex;
	flex-direction: column;
	background-color: #fff;
	padding: 20px 40px;
}



/* ui objects utility classes */

.input {
	border-radius: 22px;
}

.card-light1 {
	height: 387px;
	display: flex;
	background-color: #f4f4f4;
	border-radius: 22px;
}

.card-light2 {
	width: 100%; height: 603px;
	display: flex;
	flex-direction: column;
	background-color: #f4f4f4;
	padding-top: 64px;
	border-radius: 22px;
}

.group {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 64px;
}



/* button hover utility classes */

.hover-bright:hover {
	filter: brightness(1.2);
}

.hover-dark:hover {
	filter: brightness(0.85);
}
